<% if Spree::Config[:company] %>
	<div class="row">
	    <div class="">
	    	<%= address_form.label :company, t(:company), :class => 'right inline' %></span>
	    </div>
	    <div class="">
	    	<%= address_form.text_field :company %>
            <span class="i di showOnLTELandscape">Vnesite ime podjetja.</span>
	    </div>
	</div>	
<% end %>
<div class="row">
    <div class="">
    	<%= address_form.label :firstname, t(:first_name), :class => 'right inline' %><span class="required">*</span>
    </div>
    <div class="">
    	<%= address_form.text_field :firstname, :class => 'required' %>
        <span class="i di showOnLTELandscape">Vnesite svoje ime.</span>
    </div>
</div>
<div class="row">
    <div class="">
    	<%= address_form.label :lastname, t(:last_name), :class => 'right inline' %><span class="required">*</span>
    </div>
    <div class="">
    	<%= address_form.text_field :lastname, :class => 'required' %>
        <span class="i di showOnLTELandscape">Vnesite svoj priimek.</span>
    </div>
</div>

<div class="row dn">
    <div class="">
    	<%= address_form.label :country_id, t(:country), :class => 'right inline' %><span class="required">*</span>
    </div>
    <div class="">
    	<span id="<%= address_name[0] %>country"> <%= address_form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required'} %> </span>
        <span class="i di showOnLTELandscape">tu pride razlaga zakaj država</span>
    </div>
</div>
	
<div class="row">
    <div class="">
    	<%= address_form.label :phone, t(:phone), :class => 'right inline' %><span class="required">*</span>
    </div>
    <div class="">
    	<%= address_form.phone_field :phone, :class => 'required phone' %>
        <span class="i di showOnLTELandscape">Poklicali vas bomo le zaradi pomembnih informacij v zvezi z vašim naročilom.</span>
    </div>
</div>	
<% if Spree::Config["alternative_#{address_name[0] == 'b' ? 'billing' : 'shipping'}_phone"] %>
	<div class="row">
	    <div class="">
	    	<%= address_form.label :alternative_phone, t(:alternative_phone), :class => 'right inline' %><span class="required">*</span>
	    </div>
	    <div class="">
	    	<%= address_form.phone_field :alternative_phone, :class => 'required phone' %>
            <span class="i di showOnLTELandscape">tu pride razlaga zakaj telefon (alt)</span>
	    </div>
	</div>	
<% end %>